In [1]:
!ls -lh schema.sql

-rw-r--r--  1 yoavfreund  staff    79K Dec  8 13:52 schema.sql

In [2]:
!head schema.sql

-- MySQL dump 10.19  Distrib 10.3.31-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: active_atlas_development
-- ------------------------------------------------------
-- Server version	10.3.31-MariaDB-0ubuntu0.20.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;

In [45]:
lines = open('schema.sql','r').readlines()

In [46]:
len(lines)

1906

In [47]:
import re
pattern=re.compile(r'-- Table structure for table \`([^\`]+)\`')

In [48]:
i=0
j=1
splits=[]
tables={}
table_names=[]
while(i<len(lines)):
    if 'Table structure for table' in lines[i]:
        splits.append(i-2)
        print('line',i,'table',j,lines[i][:-1]); 
        m=pattern.search(lines[i])
        if m:
            table_name=m.group(1)
            tables[table_name]={'line':i,'table_index':j,'line':lines[i]}
            table_names.append(table_name)
        else:
            raise Exception
        i+=2
        j+=1
    elif 'Final view structure for view' in lines[i]:
        print('final split',j); j+=1
        splits.append(i-2)
        i+=2
    else:
        i+=1

line 18 table 1 -- Table structure for table `account_emailaddress`
line 38 table 2 -- Table structure for table `account_emailconfirmation`
line 58 table 3 -- Table structure for table `animal`
line 92 table 4 -- Table structure for table `atlas_coms`
line 109 table 5 -- Table structure for table `auth_group`
line 124 table 6 -- Table structure for table `auth_group_permissions`
line 143 table 7 -- Table structure for table `auth_permission`
line 161 table 8 -- Table structure for table `auth_user`
line 185 table 9 -- Table structure for table `auth_user_groups`
line 204 table 10 -- Table structure for table `auth_user_user_permissions`
line 223 table 11 -- Table structure for table `authtoken_token`
line 240 table 12 -- Table structure for table `center_of_mass`
line 275 table 13 -- Table structure for table `com_type`
line 295 table 14 -- Table structure for table `detected_soma`
line 319 table 15 -- Table structure for table `django_admin_log`
line 343 table 16 -- Table structure for table `django_content_type`
line 359 table 17 -- Table structure for table `django_migrations`
line 375 table 18 -- Table structure for table `django_plotly_dash_dashapp`
line 399 table 19 -- Table structure for table `django_plotly_dash_statelessapp`
line 416 table 20 -- Table structure for table `django_session`
line 432 table 21 -- Table structure for table `django_site`
line 448 table 22 -- Table structure for table `elastix_transformation`
line 472 table 23 -- Table structure for table `engine_attributespec`
line 494 table 24 -- Table structure for table `engine_clientfile`
line 509 table 25 -- Table structure for table `engine_data`
line 530 table 26 -- Table structure for table `engine_image`
line 550 table 27 -- Table structure for table `engine_job`
line 570 table 28 -- Table structure for table `engine_jobcommit`
line 592 table 29 -- Table structure for table `engine_label`
line 609 table 30 -- Table structure for table `engine_labeledimage`
line 630 table 31 -- Table structure for table `engine_labeledimageattributeval`
line 650 table 32 -- Table structure for table `engine_labeledshape`
line 675 table 33 -- Table structure for table `engine_labeledshapeattributeval`
line 695 table 34 -- Table structure for table `engine_labeledtrack`
line 716 table 35 -- Table structure for table `engine_labeledtrackattributeval`
line 736 table 36 -- Table structure for table `engine_plugin`
line 753 table 37 -- Table structure for table `engine_pluginoption`
line 769 table 38 -- Table structure for table `engine_project`
line 793 table 39 -- Table structure for table `engine_remotefile`
line 810 table 40 -- Table structure for table `engine_segment`
line 828 table 41 -- Table structure for table `engine_serverfile`
line 845 table 42 -- Table structure for table `engine_task`
line 879 table 43 -- Table structure for table `engine_trackedshape`
line 901 table 44 -- Table structure for table `engine_trackedshapeattributeval`
line 921 table 45 -- Table structure for table `engine_video`
line 940 table 46 -- Table structure for table `file_log`
line 963 table 47 -- Table structure for table `file_operation`
line 983 table 48 -- Table structure for table `foundation_coms`
line 1000 table 49 -- Table structure for table `git_gitdata`
line 1019 table 50 -- Table structure for table `histology`
line 1063 table 51 -- Table structure for table `injection`
line 1099 table 52 -- Table structure for table `injection_virus`
line 1120 table 53 -- Table structure for table `journals`
line 1155 table 54 -- Table structure for table `layer_data`
line 1190 table 55 -- Table structure for table `layer_data_history`
line 1213 table 56 -- Table structure for table `location`
line 1233 table 57 -- Table structure for table `location_primary_people`
line 1252 table 58 -- Table structure for table `logs`
line 1274 table 59 -- Table structure for table `neuroglancer_urls`
line 1299 table 60 -- Table structure for table `organic_label`
line 1330 table 61 -- Table structure for table `problem_category`
line 1347 table 62 -- Table structure for table `progress_lookup`
line 1368 table 63 -- Table structure for table `resource`
line 1387 table 64 -- Table structure for table `row_sequence`
line 1401 table 65 -- Table structure for table `scan_run`
line 1442 table 66 -- Table structure for table `schedule`
line 1492 table 67 -- Table structure for table `seq`
line 1506 table 68 -- Table structure for table `slide`
line 1546 table 69 -- Table structure for table `slide_czi_to_tif`
line 1573 table 70 -- Table structure for table `socialaccount_socialaccount`
line 1596 table 71 -- Table structure for table `socialaccount_socialapp`
line 1614 table 72 -- Table structure for table `socialaccount_socialapp_sites`
line 1633 table 73 -- Table structure for table `socialaccount_socialtoken`
line 1655 table 74 -- Table structure for table `structure`
line 1676 table 75 -- Table structure for table `table_metadata`
line 1699 table 76 -- Table structure for table `task`
line 1725 table 77 -- Table structure for table `task_resources`
line 1745 table 78 -- Table structure for table `task_roles`
line 1759 table 79 -- Table structure for table `task_view`
line 1774 table 80 -- Table structure for table `transformation`
line 1802 table 81 -- Table structure for table `virus`
line 1835 table 82 -- Table structure for table `~jobs`
line 1859 table 83 -- Table structure for table `~log`
final split 84

In [50]:
for table_name in tables:
    table=tables[table_name]
    table_index=table['table_index']
    table_lines=lines[splits[table_index-1]+3:splits[table_index]]
    table['text']=''.join(table_lines)

In [58]:
prefix = ''.join(lines[:splits[0]])
postfix= ''.join(lines[splits[-1]:])

In [52]:
tables['engine_plugin']

{'line': '-- Table structure for table `engine_plugin`\n',
 'table_index': 36,
 'text': '--\n\nDROP TABLE IF EXISTS `engine_plugin`;\n/*!40101 SET @saved_cs_client     = @@character_set_client */;\n/*!40101 SET character_set_client = utf8 */;\nCREATE TABLE `engine_plugin` (\n  `name` varchar(32) NOT NULL,\n  `description` varchar(8192) NOT NULL,\n  `created_at` datetime(6) NOT NULL,\n  `updated_at` datetime(6) NOT NULL,\n  `maintainer_id` int(11) DEFAULT NULL,\n  PRIMARY KEY (`name`)\n) ENGINE=InnoDB DEFAULT CHARSET=utf8;\n/*!40101 SET character_set_client = @saved_cs_client */;\n'}

In [53]:
newlines= open('table_names_reorganized.txt','r').readlines()

In [54]:
print(''.join(newlines[:10]))

--
-- Main Tables, used by all users of brainsharer.
--

animal
structure      /* Does not include the 3D shape information? */
transformation /* Does this store transformations between stack, does */
-- /* not exist at this point. coordinates and atlas coordinates (both */
-- /* ways)? does it support different types of transformation? (rigid, affine,beta spline?) */
histology

In [55]:
pattern=re.compile(r'(\w+)(.*)')

In [59]:
print(prefix)

i=0
while i<len(newlines):
    m=pattern.match(newlines[i])
    if m:
        table_name,comment = m.groups()
        print(tables[table_name]['line'][:-1])
        i+=1

        if comment!='':
            print('--',comment)
            while newlines[i].startswith('--'):
                print(newlines[i][:-1])
                i+=1
        print(tables[table_name]['text'])
            
    else:
        print(newlines[i][:-1])
        i+=1
        
print(postfix)

-- MySQL dump 10.19  Distrib 10.3.31-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: active_atlas_development
-- ------------------------------------------------------
-- Server version	10.3.31-MariaDB-0ubuntu0.20.04.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Main Tables, used by all users of brainsharer.
--

-- Table structure for table `animal`
--

DROP TABLE IF EXISTS `animal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `animal` (
  `prep_id` varchar(20) NOT NULL COMMENT 'Name for lab mouse/rat, max 20 chars',
  `performance_center` enum('CSHL','Salk','UCSD','HHMI','Duke') DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL COMMENT 'the mouse''s date of birth',
  `species` enum('mouse','rat') DEFAULT NULL,
  `strain` varchar(50) DEFAULT NULL,
  `sex` enum('M','F') DEFAULT NULL COMMENT '(M/F) either ''M'' for male, ''F'' for female',
  `genotype` varchar(100) DEFAULT NULL COMMENT 'transgenic description, usually "C57"; We will need a genotype table',
  `breeder_line` varchar(100) DEFAULT NULL COMMENT 'We will need a local breeding table',
  `vender` enum('Jackson','Charles River','Harlan','NIH','Taconic') DEFAULT NULL,
  `stock_number` varchar(100) DEFAULT NULL COMMENT 'if not from a performance center',
  `tissue_source` enum('animal','brain','slides') DEFAULT NULL,
  `ship_date` date DEFAULT NULL,
  `shipper` enum('FedEx','UPS') DEFAULT NULL,
  `tracking_number` varchar(100) DEFAULT NULL,
  `aliases_1` varchar(100) DEFAULT NULL COMMENT 'names given by others',
  `aliases_2` varchar(100) DEFAULT NULL,
  `aliases_3` varchar(100) DEFAULT NULL,
  `aliases_4` varchar(100) DEFAULT NULL,
  `aliases_5` varchar(100) DEFAULT NULL,
  `comments` varchar(2001) DEFAULT NULL COMMENT 'assessment',
  `active` tinyint(4) NOT NULL DEFAULT 1,
  `created` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`prep_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `structure`
--       /* Does not include the 3D shape information? */
--

DROP TABLE IF EXISTS `structure`;
/*   What is the role of this table does it store the 3D shape of the structures? *****/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `structure` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `abbreviation` varchar(25) COLLATE utf8_bin NOT NULL,
  `description` longtext COLLATE utf8_bin NOT NULL,
  `color` int(11) NOT NULL DEFAULT 100,
  `hexadecimal` char(7) COLLATE utf8_bin DEFAULT NULL,
  `active` tinyint(1) NOT NULL,
  `created` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `K__S_ABBREV` (`abbreviation`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8 COLLATE=utf8_bin;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `transformation`
--  /* Does this store transformations between stack, does */
-- /* not exist at this point. coordinates and atlas coordinates (both */
-- /* ways)? does it support different types of transformation? (rigid, affine,beta spline?) */
--

DROP TABLE IF EXISTS `transformation`;
/*   What is the role of this table *****/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transformation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prep_id` varchar(20) NOT NULL,
  `person_id` int(11) NOT NULL,
  `input_type_id` int(11) NOT NULL DEFAULT 1,
  `com_name` varchar(50) NOT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created` datetime(6) NOT NULL,
  `updated` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK__T_AID_PID_ITID` (`prep_id`,`person_id`,`input_type_id`),
  KEY `K__T_AID` (`prep_id`),
  KEY `K__T_PID` (`person_id`),
  KEY `K__T_ITID` (`input_type_id`),
  CONSTRAINT `FK__T_ITID` FOREIGN KEY (`input_type_id`) REFERENCES `com_type` (`id`),
  CONSTRAINT `FK__T_PID` FOREIGN KEY (`person_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `FK__T_prep_id` FOREIGN KEY (`prep_id`) REFERENCES `animal` (`prep_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `histology`
--

DROP TABLE IF EXISTS `histology`;
/* this table describes the histological preparation of the animal***/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `histology` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prep_id` varchar(20) NOT NULL,
  `virus_id` int(11) DEFAULT NULL,
  `label_id` int(11) DEFAULT NULL,
  `performance_center` enum('CSHL','Salk','UCSD','HHMI') DEFAULT NULL COMMENT 'default population is from Injection',
  `anesthesia` enum('ketamine','isoflurane','pentobarbital','fatal plus') DEFAULT NULL,
  `perfusion_age_in_days` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `perfusion_date` date DEFAULT NULL,
  `exsangination_method` enum('PBS','aCSF','Ringers') DEFAULT NULL,
  `fixative_method` enum('Para','Glut','Post fix') DEFAULT NULL,
  `special_perfusion_notes` varchar(200) DEFAULT NULL,
  `post_fixation_period` tinyint(3) unsigned NOT NULL DEFAULT 0 COMMENT '(days)',
  `whole_brain` enum('Y','N') DEFAULT NULL,
  `block` varchar(200) DEFAULT NULL COMMENT 'if applicable',
  `date_sectioned` date DEFAULT NULL,
  `side_sectioned_first` enum('ASC','DESC') NOT NULL DEFAULT 'ASC',
  `sectioning_method` enum('cryoJane','cryostat','vibratome','optical','sliding microtiome') DEFAULT NULL,
  `section_thickness` tinyint(3) unsigned NOT NULL DEFAULT 20 COMMENT '(µm)',
  `orientation` enum('coronal','horizontal','sagittal','oblique') DEFAULT NULL,
  `oblique_notes` varchar(200) DEFAULT NULL,
  `mounting` enum('every section','2nd','3rd','4th','5ft','6th') DEFAULT NULL COMMENT 'used to automatically populate Placeholder',
  `counterstain` enum('thionin','NtB','NtFR','DAPI','Giemsa','Syto41') DEFAULT NULL,
  `comments` varchar(2001) DEFAULT NULL COMMENT 'assessment',
  `created` timestamp NOT NULL DEFAULT current_timestamp(),
  `active` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `K__histology_virus_id` (`virus_id`),
  KEY `K__histology_label_id` (`label_id`),
  KEY `K__histology_prep_id` (`prep_id`),
  CONSTRAINT `FK__histology_label_id` FOREIGN KEY (`label_id`) REFERENCES `organic_label` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `FK__histology_prep_id` FOREIGN KEY (`prep_id`) REFERENCES `animal` (`prep_id`) ON UPDATE CASCADE,
  CONSTRAINT `FK__histology_virus_id` FOREIGN KEY (`virus_id`) REFERENCES `virus` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `organic_label`
--

DROP TABLE IF EXISTS `organic_label`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `organic_label` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `label_id` varchar(20) NOT NULL,
  `label_type` enum('Cascade Blue','Chicago Blue','Alexa405','Alexa488','Alexa647','Cy2','Cy3','Cy5','Cy5.5','Cy7','Fluorescein','Rhodamine B','Rhodamine 6G','Texas Red','TMR') DEFAULT NULL,
  `type_lot_number` varchar(20) DEFAULT NULL,
  `type_tracer` enum('BDA','Dextran','FluoroGold','DiI','DiO') DEFAULT NULL,
  `type_details` varchar(500) DEFAULT NULL,
  `concentration` float NOT NULL DEFAULT 0 COMMENT '(µM) if applicable',
  `excitation_1p_wavelength` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `excitation_1p_range` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `excitation_2p_wavelength` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `excitation_2p_range` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `lp_dichroic_cut` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `emission_wavelength` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `emission_range` int(11) NOT NULL DEFAULT 0 COMMENT '(nm)',
  `label_source` enum('','Invitrogen','Sigma','Thermo-Fisher') DEFAULT NULL,
  `source_details` varchar(100) DEFAULT NULL,
  `comments` varchar(2000) DEFAULT NULL COMMENT 'assessment',
  `created` timestamp NOT NULL DEFAULT current_timestamp(),
  `active` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;



--
--  injection related tables
--

-- Table structure for table `injection`
--

DROP TABLE IF EXISTS `injection`;
/* Describes the location and type of injected dyes and viruses */
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `injection` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prep_id` varchar(200) NOT NULL,
  `label_id` int(11) DEFAULT NULL,
  `performance_center` enum('CSHL','Salk','UCSD','HHMI','Duke') DEFAULT NULL,
  `anesthesia` enum('ketamine','isoflurane') DEFAULT NULL,
  `method` enum('iontophoresis','pressure','volume') DEFAULT NULL,
  `injection_volume` float NOT NULL DEFAULT 0 COMMENT '(nL)',
  `pipet` enum('glass','quartz','Hamilton','syringe needle') DEFAULT NULL,
  `location` varchar(20) DEFAULT NULL COMMENT 'examples: muscle, brain region',
  `angle` varchar(20) DEFAULT NULL,
  `brain_location_dv` float NOT NULL DEFAULT 0 COMMENT '(mm) dorsal-ventral relative to Bregma',
  `brain_location_ml` float NOT NULL DEFAULT 0 COMMENT '(mm) medial-lateral relative to Bregma; check if positive',
  `brain_location_ap` float NOT NULL DEFAULT 0 COMMENT '(mm) anterior-posterior relative to Bregma',
  `injection_date` date DEFAULT NULL,
  `transport_days` int(11) NOT NULL DEFAULT 0,
  `virus_count` int(11) NOT NULL DEFAULT 0,
  `comments` varchar(2001) DEFAULT NULL COMMENT 'assessment',
  `created` timestamp NOT NULL DEFAULT current_timestamp(),
  `active` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `K__label_id` (`label_id`),  /* What is the meaning of the name  `K__label_id` *********/
  KEY `FK__injection_prep_id` (`prep_id`),
  CONSTRAINT `FK__injection_label_id` FOREIGN KEY (`label_id`) REFERENCES `organic_label` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `FK__injection_prep_id` FOREIGN KEY (`prep_id`) REFERENCES `animal` (`prep_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `injection_virus`
--  - many to many join table
--

DROP TABLE IF EXISTS `injection_virus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `injection_virus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `injection_id` int(11) NOT NULL,
  `virus_id` int(11) NOT NULL,
  `created` timestamp NOT NULL DEFAULT current_timestamp(),
  `active` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  KEY `K__IV_injection_id` (`injection_id`),
  KEY `K__IV_virus_id` (`virus_id`),
  CONSTRAINT `FK__IV_injection_id` FOREIGN KEY (`injection_id`) REFERENCES `injection` (`id`) ON UPDATE CASCADE,
  CONSTRAINT `FK__IV_virus_id` FOREIGN KEY (`virus_id`) REFERENCES `virus` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `virus`
--

DROP TABLE IF EXISTS `virus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `virus` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `virus_name` varchar(50) NOT NULL,
  `virus_type` enum('Adenovirus','AAV','CAV','DG rabies','G-pseudo-Lenti','Herpes','Lenti','N2C rabies','Sinbis') DEFAULT NULL,
  `virus_active` enum('yes','no') DEFAULT NULL,
  `type_details` varchar(500) DEFAULT NULL,
  `titer` float NOT NULL DEFAULT 0 COMMENT '(particles/ml) if applicable',
  `lot_number` varchar(20) DEFAULT NULL,
  `label` enum('YFP','GFP','RFP','histo-tag') DEFAULT NULL,
  `label2` varchar(200) DEFAULT NULL,
  `excitation_1p_wavelength` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable',
  `excitation_1p_range` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable',
  `excitation_2p_wavelength` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable',
  `excitation_2p_range` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable',
  `lp_dichroic_cut` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable',
  `emission_wavelength` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable',
  `emission_range` int(11) NOT NULL DEFAULT 0 COMMENT '(nm) if applicable0',
  `virus_source` enum('Adgene','Salk','Penn','UNC') DEFAULT NULL,
  `source_details` varchar(100) DEFAULT NULL,
  `comments` varchar(2000) DEFAULT NULL COMMENT 'assessment',
  `created` timestamp NOT NULL DEFAULT current_timestamp(),
  `active` tinyint(4) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;


--
-- Annotation related tables   ---------------------------------------------------------
--

--
-- tables of brain locations (x,y,z location data)
--

-- Table structure for table `layer_data`
--  - main annotation table where the x,y,z data is stored
--

DROP TABLE IF EXISTS `layer_data`;
/*   What is the role of this table *****/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `layer_data` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prep_id` varchar(20) NOT NULL,
  `structure_id` int(11) NOT NULL comments 'either structure, point, or line',
  `person_id` int(11) NOT NULL comments 'person that created the point',
  `updated_by` int(11) DEFAULT NULL comments 'person that updated the row',
  `input_type_id` int(11) NOT NULL DEFAULT 1 comments 'manual person, corrected person, detected computer',
  `vetted` enum('yes','no') DEFAULT NULL comments 'good enough for public',
  `layer` varchar(255) DEFAULT NULL comments 'freeform name/label the layer',
  `x` float DEFAULT NULL,
  `y` float DEFAULT NULL,
  `section` float NOT NULL DEFAULT 0,
  `active` tinyint(1) DEFAULT NULL comments 'old data gets marked inactive from Neuroglancer',
  `created` datetime(6) NOT NULL comments 'when the row was created',
  `updated` timestamp NOT NULL DEFAULT current_timestamp() comments 'auto timestamp',
  PRIMARY KEY (`id`),
  KEY `K__LDA_AID` (`prep_id`),
  KEY `K__LDA_SID` (`structure_id`),
  KEY `K__LDA_PID` (`person_id`),
  KEY `K__LDA_ITID` (`input_type_id`),
  CONSTRAINT `FK__LDA_AID` FOREIGN KEY (`prep_id`) REFERENCES `animal` (`prep_id`) ON UPDATE CASCADE,
  CONSTRAINT `FK__LDA_ITID` FOREIGN KEY (`input_type_id`) REFERENCES `com_type` (`id`),
  CONSTRAINT `FK__LDA_PID` FOREIGN KEY (`person_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `FK__LDA_STRID` FOREIGN KEY (`structure_id`) REFERENCES `structure` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=15566 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `com_type`
--  - should be renamed to input_type, lookup table of manual, detected, corrected
--

DROP TABLE IF EXISTS `com_type`;
/* what is the role of this table *********/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `com_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `input_type` varchar(50) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created` datetime(6) NOT NULL,
  `updated` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `K__CT_INID` (`input_type`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;


--
-- tables of boundaries, does not exist yet. Will store 2D and 3D boundaries
--


--
-- tables related to hardware/software --------------------------------------------------
--

--
--  Scanner related tables
--

-- Table structure for table `slide`
--

DROP TABLE IF EXISTS `slide`;
/*   What is the role of this table, did this subsume the tablee "sections"? *****/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `slide` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `scan_run_id` int(11) NOT NULL,
  `slide_physical_id` int(11) NOT NULL COMMENT 'one per slide',
  `rescan_number` enum('','1','2','3') NOT NULL DEFAULT '',
  `slide_status` enum('Bad','Good') NOT NULL DEFAULT 'Good',
  `scenes` int(11) DEFAULT NULL,
  `insert_before_one` tinyint(4) NOT NULL DEFAULT 0,
  `insert_between_one_two` tinyint(4) NOT NULL DEFAULT 0,
  `insert_between_two_three` tinyint(4) NOT NULL DEFAULT 0,
  `insert_between_three_four` tinyint(4) NOT NULL DEFAULT 0,
  `insert_between_four_five` tinyint(4) NOT NULL DEFAULT 0,
  `insert_between_five_six` tinyint(4) NOT NULL DEFAULT 0,
  `file_name` varchar(200) NOT NULL,
  `comments` varchar(2001) DEFAULT NULL COMMENT 'assessment',
  `active` tinyint(4) NOT NULL DEFAULT 1,
  `created` timestamp NULL DEFAULT current_timestamp(),
  `file_size` float NOT NULL DEFAULT 0,
  `processing_duration` float NOT NULL DEFAULT 0,
  `processed` tinyint(4) NOT NULL DEFAULT 0,
  `scene_qc_1` tinyint(4) NOT NULL DEFAULT 0,
  `scene_qc_2` tinyint(4) NOT NULL DEFAULT 0,
  `scene_qc_3` tinyint(4) NOT NULL DEFAULT 0,
  `scene_qc_4` tinyint(4) NOT NULL DEFAULT 0,
  `scene_qc_5` tinyint(4) NOT NULL DEFAULT 0,
  `scene_qc_6` tinyint(4) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `K__slide_scan_run_id` (`scan_run_id`),
  CONSTRAINT `FK__slide_scan_run_id` FOREIGN KEY (`scan_run_id`) REFERENCES `scan_run` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4799 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `slide_czi_to_tif`
--

DROP TABLE IF EXISTS `slide_czi_to_tif`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `slide_czi_to_tif` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `slide_id` int(11) NOT NULL,
  `file_name` varchar(200) NOT NULL,
  `scene_number` tinyint(4) NOT NULL,
  `channel` tinyint(4) NOT NULL,
  `width` int(11) NOT NULL DEFAULT 0,
  `height` int(11) NOT NULL DEFAULT 0,
  `comments` varchar(2000) DEFAULT NULL COMMENT 'assessment',
  `active` tinyint(4) NOT NULL DEFAULT 1,
  `created` timestamp NULL DEFAULT current_timestamp(),
  `file_size` float NOT NULL DEFAULT 0,
  `scene_index` int(11) NOT NULL DEFAULT 0,
  `processing_duration` float NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `K__slide_id` (`slide_id`),
  CONSTRAINT `FK__slide_id` FOREIGN KEY (`slide_id`) REFERENCES `slide` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=47004 DEFAULT CHARSET=utf8;
/*!40101 SET character_set_client = @saved_cs_client */;

-- Table structure for table `scan_run`
--

DROP TABLE IF EXISTS `scan_run`;
/*   This table describes a sequence of slides scanned by the Zeiss Axio scanner  *****/
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `scan_run` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `prep_id` varchar(200) NOT NULL,
  `performance_center` enum('CSHL','Salk','UCSD','HHMI') DEFAULT NULL COMMENT 'default population is from Histology',